
/* Webfont: MacPawFixelDisplay-Regular */
@font-face {
    font-family: 'MacPawFixelDisplayRegular';
    src: url('/res/fonts/MacPawFixelDisplay-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('/res/fonts/MacPawFixelDisplay-Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    color: white;
    font-family: 'MacPawFixelDisplayRegular';
}