/* Color palette */
/* #404258 */
/* #474E68 */
/* #50577A */
/* #6B728E */


/* Webfont: MacPawFixelDisplay-Regular */
@font-face {
    font-family: 'MacPawFixelDisplayRegular';
    src: url('/res/fonts//MPFD/MPFD-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('/res/fonts/MPFD/MPFD-Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
    margin: 0;
    padding: 0;
    background-color: #404258;
    color: white;
    font-family: 'MacPawFixelDisplayRegular';
}

.container {
    background-color: #474e68;
    width: 600px;
    min-height: 10px;
    margin-left: auto;
    margin-right: auto;
}
