/*Color - 1 181b25, 2 282d3c, t 9a9cab, th 545761, h 202430*/

/* Webfont: MacPawFixelDisplay-Regular */
@font-face {
    font-family: 'MPFD-Regular';
    src: url('/res/fonts/MPFD/MPFD-Regular.otf') format('opentype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: e-Ukraine-Regular */
@font-face {
    font-family: 'e-ukraine-regular';
    src: url('/res/fonts/e-Ukraine/e-Ukraine-Regular.otf') format('opentype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
    margin: 0;
    padding: 0;
    background-color: #181b25;
    color: #9a9cab;
    font-family: 'e-ukraine-regular';
}

.mainContainer {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: #202430;
    min-height: 10px;
    padding: 5px;
    display: flex;
}

.text {
    color: #545761;
    font-size: 12px;
    padding: 5px;
}